{% extends 'course_connect/base.html' %}
{% load static %}

{% block body_top %}
    <div class="container">
    <div class="row">
    <div class="col-md-3">
        <img class="img-circle" src="{% static '/img/sbh.jpg' %}" width="220" height="220"/>
        <h2> Sagar B Hathwar </h2>
        <p> Principle designer </p>
        <p> <a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <img class="img-circle" src="{% static '/img/vb.jpg' %}" width="220" height="220"/>
        <h2> Varun Bharadwaj </h2>
        <p> Authentication master </p>
        <p> <a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <img class="img-circle" src="{% static '/img/dat.jpg' %}" width="220" height="220"/>
        <h2> Disha A Talreja </h2>
        <p> Ajax spearhead </p>
        <p> <a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <img class="img-circle" src="{% static '/img/vm.jpg' %}" width="220" height="220"/>
        <h2> Varun Manjunath </h2>
        <p> Database Admin </p>
        <p> <a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
    </div>
    </div>
    </div>
{% endblock body_top %}

{% block script_block %}
    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#about").addClass("active");
        });
    </script>
{% endblock script_block %}
