{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Course Connect</title>
        
        <link rel="stylesheet" href="{% static '/css/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/css/bootstrap/css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">

        <script src="{% static '/js/jquery/jquery-3.1.1.js' %}"></script>
        <script src="{% static '/js/jquery/bxslider/jquery.bxslider.js' %}"></script>
        <script src="{% static '/css/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/tjs/jquery.fitvids.js' %}"></script>
        <script src="{% static '/tjs/jquery.sequence-min.js' %}"></script>
        <script src="{% static '/tjs/main-menu.js' %}"></script>
        <script src="{% static '/tjs/template.js' %}"></script>
        <script src="{% static '/tjs/jquery.bxslider.js' %}"></script>
            {% block headblock %}
            <!-- other scrips go here -->
            {% endblock headblock %}
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header" item-height="100%">
                <a href="{% url 'course_connect:index' %}"> 
                    <img src="{% static 'img/pesit-logo.png' %}" height="50vh"/>
                </a>
                <a class="navbar-brand" href="{% url 'course_connect:index' %}">Course Connect</a>
                </div>
                <ul class="nav navbar-nav">
                    <li id="home"><a href="{% url 'course_connect:index' %}">Home</a></li>
                    <li id="all_courses"><a href="{% url 'course_connect:courses' %}">All courses</a></li>
                    <li id="about"><a href="{% url 'course_connect:about' %}">About</a></li>
                    <li id="contact"><a href="{% url 'course_connect:contact' %}">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="login"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
        {% block body_top %}
        <!-- page respective customized elements here -->
        {% endblock body_top %}
    </body>
</html>