{% extends 'course_connect/base.html' %}
{% load static %}

{% block headblock %}
        

	<link rel="stylesheet" href="{% static '/js/bxslider/css/jquery.bxslider.css' %}">
{% endblock headblock %}

{% block body_top %}

		<!-- Image slider -->
		<div class="bxslider">
			<li><img src="{% static '/img/bg1.jpg' %}" alt="" /></li>
			<li><img src="{% static '/img/bg2.jpg' %}" alt="" /></li>
			<li><img src="{% static '/img/bg3.jpg' %}" alt="" /></li>
		</div>

		<!-- Announcements using EventSource to get Data from server
			about newest announcements as the user is online on the website
		-->
		<div class="">
		</div>

{% endblock body_top %}



{% block script_block %}
    <script src="{% static '/js/bxslider/js/jquery.bxslider.js' %}"></script>
	<script>
		$(document).ready(function()
		{
			$("#home").addClass("active");
			$(".bxslider").bxSlider({infiniteLoop: true, auto: true});
		});
	</script>
{% endblock script_block %}
